body {
  margin: 0;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 100%
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Playball', cursive;

}
h2 {
  color: #66BFBF;
  font-size: 2.625rem;
  font-family: 'Playball', cursive;
}
h3 {
  color: #11999E;
  font-family: 'Playball', cursive;
}
a {
  color: #11999E;
  margin: 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
p{
  color: #40514E;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}

/*********************************************Class stylesheet***************************************************/
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {
  margin-top: 50px;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.bottom-cloud {
  position: absolute;
  top: 250px;
  left: 200px;
}
.top-cloud {
  position: absolute;
  bottom: 550px;
  right: 200px;
}
.h2-font-weight {
  font-weight: normal;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.hacker-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.intro {
  width: 30%;
  margin: auto;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
}
